.color-fondo{
    background: #6b0707 !important; 
}

.color-fondo-a{
    background: #6b0707 !important; 
}

.color-fondo-a:hover{
    background: rgb(170, 170, 170)  !important;
    color: #6b0707;
}
.color-fondo-a:active{
    background: rgb(37, 27, 54)  !important;
}

.color-iconos:hover{
    color: #6b0707;
}

.img-logo{
    display: block;
    width: 200px;
    border-radius: 50%;
    margin: 0 auto;
}


.nombre-empresa{
    text-align: center !important;
    width: 100%;
    font-weight: 900;
    font-size: 25px;
    color: #ced4da;
}