.navegacion{
    z-index: 2;
    width: 100%;
    
   
   
}

.enlaces-nav{
  right: 20px !important;
  flex-grow: inherit !important;
 
}

.logo{
  width: 50px !important;
}

.Banner-uno{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
  text-align: center;
  height: 400px;
  background: #ffffff;
}

.Banner-dos{
  background: #F5F4F6;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;

}

.h2-banner-uno{
  margin: auto;
}

.banner-dos-uno{
  display: flex;
  justify-content: center;
  

}

.contenido-banner-dos-uno{
  justify-content: center;
  flex-wrap: wrap;

}

.img-banner-dos-dos{
  width: 100%;
  box-shadow: 0px 0px 20px #474242;
}


.Banner-tres{
  height: 600px;
  background: #232323;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  
}

.img-banner-tres{
  width: 100%;
  box-shadow: 0px 0px 20px #3f3e3e; 
}

.opiniones{
  height: 500px;
  background: #F5F4F6;
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-wrap: wrap;

}

.opiniones-img-1{
  border-radius: 50%;
}

.opiniones-uno{
  text-align: center;
 
}
.opiniones-dos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.opiniones-dos-img{
  width: 40%;
  border-radius: 50%;
  box-shadow: 0px 0px 20px #3f3e3e; 
}

.footer-div{
  background: #fff;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
}


.footer-div p{
 font-size: 10px;
}

.img-footer{
  width: 200px;
}

.copy{
  background: #fff  ;
}

.copy-r{
  text-align: center;
}

@media (max-width:870px){
  .Banner-dos {
   
    flex-direction: column;
    
}
.banner-dos-uno {
  width: 100% !important;
}

.contenido-banner-dos-uno {
 
  margin-bottom: 50px;
}
.contenido-banner-dos-uno h2, h4{
 
  text-align: center;
}

.Banner-tres {
  height: auto;
  
}

}



/* .div-img-carrusel{
   max-height:  1331px !important;
} */

