.row-filtros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-tarjeta-profesional{
    width: 100%;
  height: 250px;
  margin-top: 5px;
}

.edit-tarjeta-profesional{
    box-shadow:  0 0 10px #b4b4b4, 0 0 20px #b4b4b4, 0 0 20px #b4b4b4;
    margin: 0px auto;
    height: auto;
    width: 100%;
    max-width: 750px;
    
}

.div-cargo{
    justify-content: left;
    padding: 20px;
}

.info-oferta{
    display: grid;
    grid-template-columns: 1fr 1fr;
}