.tarjetasProfesionalesPostulados{
    display: flex;
    
}

.tarjeta-historial-postulacionOfertas{
    box-shadow:  0 0 10px #b4b4b4, 0 0 20px #b4b4b4, 0 0 20px #b4b4b4 !important;
    margin: 2px 7px;
    max-height: 550px;
    min-height: 521px;
  }