.tarjetasProfesionalesPostulados{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tarjeta-historial-postulacionOfertas{
    box-shadow:  0 0 2px #b4b4b4, 0 0 2px #b4b4b4, 0 0 2px #b4b4b4 !important;
    margin: 40px 7px;
    max-height: 550px;
    min-height: 445px;
  }

  .cuantos-postulados{
      justify-content: center;
      margin-bottom: 30px;
      background-color: #6B0707;
      border-radius: 3px;
  }

  .cuantos-postulados h2{
      font-size: 30px;
      color: rgb(247, 244, 244);
  }